




@media (min-width:768px){.navbar-default{background:#fff!important;-webkit-transition:padding .3s;-moz-transition:padding .3s;transition:padding .3s;border:0}.navbar-default .navbar-brand{-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}.navbar-default .navbar-nav>.active>a{}.navbar-default.navbar-shrink{background-color:#fff!important;padding:20px 0} .navbar-shrink .navbar-brand{ font-size:35px!important;}}

